.Filter {
  display: flex;
  padding: 0.75rem 1rem;
}

.item {
  margin-right: 1rem;
  padding: 2px 1rem;
  border-radius: 1rem;
  cursor: pointer;
}

.firebrick {
  color: white; 
  background-color: firebrick;
}

.royalblue {
  color: white;
  background-color: royalblue;
}

.paleturquoise {
  background-color: paleturquoise;
}

.mediumaquamarine {
  background-color: mediumaquamarine;
}

.Filter .space {
  flex-grow: 1;
}

.Filter .dropdown {
  display: flex;
  margin-left: 1rem;
  padding: 2px 1rem;
}

.Filter .dropdown .label {
  margin-right: 0.5rem;
}