.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
}

.modal-wrapper {
  position: relative;
  box-shadow: 0 0 0.375rem 0 rgba(0, 0, 0, 0.5);
  background-color: white;
  border-radius: 0.625rem;
  max-height: 877px;
  width: 1048px;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
  font-size: 1rem;
  z-index: 1000;
}

.modal-content {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}

.modal-content .random-card, .modal-content .selected-card {
  width: 200px;
}

.modal-content .arrow {
  margin: 0 36px;
  padding: 74px 0;
}